<app-navbar-crud></app-navbar-crud>
<body style="margin-top: 50px;">

<div style="margin-left: 45%;">
  <h1>Clientes cadastrados</h1>
</div>

<table class="table table-striped table-bordered" style="margin-left: 5%;">
  <thead>
    <tr>
      <th style="width: 5px;"> Id</th>
      <th style="width: 20px;"> Nome </th>
      <th style="width: 10px;"> Sexo</th>
      <th style="width: 5px;"> Estado cívil </th>
      <th style="width: 5px;"> Nascimento</th>
      <th style="width: 5px;"> CPF </th>
      <th style="width: 5px;"> RG</th>
      <th style="width: 5px;"> CNH </th>
      <th style="width: 5px;"> Telefone </th>
      <th style="width: 5px;"> E-mail </th>
      <th style="width: 5px;"> Endereço </th>
    </tr>
  </thead>
  <tbody>


    <tr *ngFor="let cliente of clientes">
      <td> {{ cliente.id }} </td>
      <td> {{ cliente.nomeComp }} </td>
      <td> {{ cliente.sexo }} </td>
      <td> {{ cliente.estCivil }} </td>
      <td> {{ cliente.nascimento }} </td>
      <td> {{ cliente.cpf }} </td>
      <td> {{ cliente.rg }} </td>
      <td> {{ cliente.cnh }} </td>
      <td> {{ cliente.telefone }} </td>
      <td> {{ cliente.email }} </td>
      <td> {{ cliente.endereco }} </td>

    </tr>
  </tbody>
</table>




<!--<div class="container">

  <mat-form-field appearance="standard">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" style="margin-left: -330px; width: 1800px; align-items: center;">
    <table mat-table [dataSource]="dataSource" style="width: 1800px;">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeComp">
        <th mat-header-cell *matHeaderCellDef>Nome completo</th>
        <td mat-cell *matCellDef="let element"> {{element.nomeComp}} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef>Sexo</th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="estCivil">
        <th mat-header-cell *matHeaderCellDef>Estado civíl</th>
        <td mat-cell *matCellDef="let element"> {{element.estCivil}} </td>
      </ng-container>
      <ng-container matColumnDef="nascimento">
        <th mat-header-cell *matHeaderCellDef>Data de nascimento</th>
        <td mat-cell *matCellDef="let element"> {{element.nascimento}} </td>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>
      <ng-container matColumnDef="rg">
        <th mat-header-cell *matHeaderCellDef>RG</th>
        <td mat-cell *matCellDef="let element"> {{element.rg}} </td>
      </ng-container>
      <ng-container matColumnDef="cnh">
        <th mat-header-cell *matHeaderCellDef>CNH</th>
        <td mat-cell *matCellDef="let element"> {{element.cnh}} </td>
      </ng-container>
      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
-->
</body>
