body {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  padding: 40px;
}

.navbar {
  background-color: #010B40;
}

.navbar li a {
  color: #05C7F2;
}

.h6Footer {
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  color: white;
  padding-left: 40%;
  width: 60%;
  padding-top: 400px;
}

.icones{
  width: 100%;

  padding: 2%;
}
