<app-navbar-crud></app-navbar-crud>

<body style="margin-top: 50px;">
  <div style="margin-left: 40%;">
    <h1>Pendências veículares cadastradas</h1>
  </div>


  <div class="container">

    <!--<mat-form-field appearance="standard">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>-->

    <div class="mat-elevation-z8">
      <!-- <table mat-table [dataSource]="dataSource" class="tableDataSource">-->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeVeiculo">
        <th mat-header-cell *matHeaderCellDef> Nome do veículo </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeVeiculo}} </td>
      </ng-container>

      <ng-container matColumnDef="modeloVeiculo">
        <th mat-header-cell *matHeaderCellDef style="margin-left: 10%;"> Modelo do veículo </th>
        <td mat-cell *matCellDef="let element" style="margin-left: 50%;"> {{element.modeloVeiculo}} </td>
      </ng-container>
      <ng-container matColumnDef="anoModelo">
        <th mat-header-cell *matHeaderCellDef style="margin-left: 10%;"> Ano do veículo </th>
        <td mat-cell *matCellDef="let element" style="margin-left: 50%;"> {{element.anoModelo}} </td>
      </ng-container>
      <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef> Cor </th>
        <td mat-cell *matCellDef="let element"> {{element.cor}} </td>
      </ng-container>
      <ng-container matColumnDef="numPlaca">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let element"> {{element.numPlaca}} </td>
      </ng-container>
      <ng-container matColumnDef="numChassi">
        <th mat-header-cell *matHeaderCellDef> Chassis </th>
        <td mat-cell *matCellDef="let element"> {{element.numChassi}} </td>
      </ng-container>
      <ng-container matColumnDef="numRenavam">
        <th mat-header-cell *matHeaderCellDef> Renavam </th>
        <td mat-cell *matCellDef="let element"> {{element.numRenavam}} </td>
      </ng-container>
      <ng-container matColumnDef="combustivel">
        <th mat-header-cell *matHeaderCellDef> Combustível </th>
        <td mat-cell *matCellDef="let element"> {{element.combustivel}} </td>
      </ng-container>
      <ng-container matColumnDef="valorCompra">
        <th mat-header-cell *matHeaderCellDef> Valor da Compra </th>
        <td mat-cell *matCellDef="let element"> {{element.valorCompra}} </td>
      </ng-container>
      <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef> UF </th>
        <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
      </ng-container>

      <ng-container matColumnDef="dataCompra">
        <th mat-header-cell *matHeaderCellDef> Data da compra </th>
        <td mat-cell *matCellDef="let element"> {{element.dataCompra}} </td>
      </ng-container>

      <ng-container matColumnDef="numPortas">
        <th mat-header-cell *matHeaderCellDef> Nº Portas </th>
        <td mat-cell *matCellDef="let element"> {{element.numPortas}} </td>
      </ng-container>

      <ng-container matColumnDef="opcionais">
        <th mat-header-cell *matHeaderCellDef> Opcionais do veículo </th>
        <td mat-cell *matCellDef="let element"> {{element.opcionais}} </td>
      </ng-container>

      <ng-container matColumnDef="descVeiculo">
        <th mat-header-cell *matHeaderCellDef> Descrição do veículo </th>
        <td mat-cell *matCellDef="let element"> {{element.descVeiculo}} </td>
      </ng-container>

      <!---<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>-->

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</body>
