<body>
  <app-navbar-home></app-navbar-home>
  <div class="sobreNos">
    <div class="divLuxury">
      <h4 class="h4Luxury"><span> LUXURY CAR</span></h4>
    </div>
    <div class="sobreNosMenor">
      <div class="sobreNosEsquerda">
        <h4 class="h4quemSomos">Quem Somos</h4>
        <p class="ParagrafoQuemSomos">
          Com nossa experiência de 48 anos, gostaríamos de convidar você a
          repensar e a construir um novo significado para a mobilidade.
        </p>

        <p class="ParagrafoQuemSomos">
          Porque, para nós, mobilidade tem tudo a ver com liberdade. É poder
          chegar aonde você quer da maneira mais prática e segura possível.
        </p>

        <p class="ParagrafoQuemSomos">
          Nós adoramos essa liberdade, mas também entendemos que ela possui
          diferentes significados para cada um.
        </p>

        <p class="ParagrafoQuemSomos">
          Por isso, nossa missão é oferecer a você a melhor opção para estar ao
          seu lado no caminho que você escolher.
        </p>

        <p class="ParagrafoQuemSomos">
          Desde 1973 cuidamos do caminho de mais de 12 milhões de pessoas.
          Estamos ao seu lado com 621 agências nas principais cidades e
          aeroportos do Brasil, Argentina, Colômbia, Equador e Paraguai.
        </p>

        <p class="ParagrafoQuemSomos">
          Temos orgulho em dizer que a Luxury Car oferece hoje a melhor
          experiência e as melhores soluções em mobilidade de luxo da América do
          Sul.
        </p>

        <div class="segundaFoto">

        </div>

        <h4 class="h4SobreAempresa">Sobre a empresa</h4>
        <p class="ParagrafoAempresa">
          A Localiza é a solução para suas necessidades em mobilidade, com toda
          a conveniência que só quem mais entende de aluguel de carros no Brasil
          pode oferecer. </p>

          <p class="ParagrafoAempresa">Para que você possa conduzir boas histórias, você
          escolhe qual a melhor solução de mobilidade: o aluguel diário a lazer
          ou a trabalho, a liberdade do carro por assinatura ou o aluguel para
          motoristas de aplicativo.</p>

          <p class="ParagrafoAempresa">São 208 mil carros disponíveis, distribuídos
          em 453 agências nas principais cidades.</p>

          <p class="ParagrafoAempresa">Junte-se aos 12 milhões de
          clientes que escolheram a Localiza para criar caminhos inesquecíveis.
        </p>
      </div>
      <div class="sobreNosDireita">
          <div class="primeiraFoto">

          </div>

             <h4 class="h4Valores">Valores</h4>
        <p class="ParagrafoValores">Trabalhamos Com Atendimento Exclusivo e Personalizado.</p>
        <p class="ParagrafoValores">Cliente é a nossa paixão.</p>
        <p class="ParagrafoValores">Gente que inspira e transforma.</p>
        <p class="ParagrafoValores">Resultados extraordinários nos impulsionam.</p>

        <div class="terceiraFoto">

          </div>

      </div>
    </div>
  </div>

<div class="footer" >
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="background-color: #010B40">
      <div class="text-center p-4">
        <h6 class="text-uppercase fw-bold mb-2" style="font-size: 120%; color: white">
          NOSSAS REDES SOCIAIS:
        </h6>
        <div class="icones">
          <a href="" class="me-4 text-reset" style="padding-left: 8%; padding-right: 10%;">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
<div class="Afterfooter"></div>
</body>
