<app-navbar-crud></app-navbar-crud>
<body>
<div style="margin-left: 40%"><h1>Editar Veículo</h1></div>
<div class="form-group col-md-6" style="margin-left: 20%;">
      <label for="labelPlacaPesquisa">Placa </label>
      <input type="text" class="form-control" id="inputPlacaPesquisa"/>

    </div>
    <button type="submit" class="btnBuscar">Buscar</button>
  <form>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputPassword4">Marca</label>
        <input type="text" class="form-control" id="inputPassword4" />
      </div>
      <div class="form-group col-md-2">
        <label for="inputNomeVeiculo">Nome do veículo</label>
        <input type="text" class="form-control" id="nomeVeiculo" />
      </div>
      <div class="form-group col-md-2">
        <label for="inputNomeVeiculo">Modelo do veículo</label>
        <input type="text" class="form-control" id="nomeVeiculo" />
      </div>
      <div class="form-group col-md-1">
        <label for="inputNomeVeiculo">Ano modelo</label>
        <input type="text" class="form-control" id="nomeVeiculo" />
      </div>
      <div class="form-group col-md-2">
        <label for="inputPassword4">Cor</label>
        <input type="text" class="form-control" id="inputPassword4" />
      </div>
      <div class="form-group col-md-2">
        <label for="inputPassword4">Nº da placa</label>
        <input type="text" class="form-control" id="inputPassword4" />
      </div>
      <div class="form-group col-md-2">
        <label for="inputPassword4">Nº do chassi</label>
        <input type="text" class="form-control" id="inputPassword4" />
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputPassword4">Nº do renavam</label>
          <input type="text" class="form-control" id="inputPassword4" />
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Combustível</label>
          <input type="text" class="form-control" id="inputPassword4" />
        </div>

        <div class="form-group col-md-2">
          <label for="inputPassword4">Valor da compra</label>
          <input type="text" class="form-control" id="inputPassword4" />
        </div>

        <div class="form-group col-md-1">
          <label for="inputState">UF</label>
          <select id="inputState" class="form-control">
            <option selected>Selecione</option>
            <option>MG</option>
            <option>SP</option>
          </select>
        </div>

        <div class="form-group col-md-2">
          <label for="inputPassword4">Data da compra</label>
          <input type="date" class="form-control" id="inputPassword4" />
        </div>

        <div class="form-check form-group col-md-2" style="margin-left: -1%;">
          <ul>
            <label for="inputPassword4">Portas</label>
          </ul>
          <ul>
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck"> 2 </label>

            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck"> 4 </label>
          </ul>
        </div>

        <div class="form-group col-md-4">
          <label for="inputPassword4">Descrição do veículo</label>
          <input type="text" class="form-control" id="inputDescricaoVeiculo" />
        </div>
      </div>
      <div class="form-check form-group col-md-6">
        <ul>
          <label for="inputPassword4">Opcionais inclusos</label>
        </ul>
        <ul>
          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"> Ar </label>

          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"> Trava </label>

          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"> Direção </label>

          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck">
            Rodas de liga
          </label>

          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck">
            Bancos de couro
          </label>

          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"> Teto solar </label>
        </ul>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-6"></div>
      <div class="col-2">
        <div class="divBotoes">
          <button type="submit" class="btnCancelar">Cancelar</button>
          <button type="submit" class="btnLimpar">Limpar</button>
          <button type="submit" class="btnCadastrar">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</body>
