<app-navbar-crud></app-navbar-crud>
<body>
<div style="margin-left: 40%;"><h1>Deletar Endereço</h1></div>


<form style="margin-top: 10%;">
    <div class="form-row">


    <div class="form-group col-md-3">
      <label for="inputNomeVeiculo">Endereço</label>
      <input 
      [(ngModel)]="endereco.endereco"
         name="endereco"
         [disabled] = "true"
      type="text" class="form-control" id="endereco"/>
    </div>

    <div class="form-group col-md-2">
      <label for="inputPassword4">Nº CEP</label>
      <input 
      [(ngModel)]="endereco.cep"
         name="cep"
         [disabled] = "true"
      type="text" class="form-control" id="cep"/>
    </div>

     <div class="form-group col-md-1">
      <label for="inputPassword4">Nº residência</label>
      <input 
      [(ngModel)]="endereco.numResidencia"
         name="numResidencia"
         [disabled] = "true"
      type="text" class="form-control" id="numResidencia"/>
    </div>

    <div class="form-group col-md-2">
      <label for="inputPassword4">Bairro</label>
      <input 
      [(ngModel)]="endereco.complemento"
      name="complemento"
      [disabled] = "true"
      type="text" class="form-control" id="complemento"/>
    </div>

     <div class="form-group col-md-2">
      <label for="inputPassword4">Cidade</label>
      <input 
      [(ngModel)]="endereco.cidade"
      name="cidade"
      [disabled] = "true"
      type="text" class="form-control" id="cidade"/>
    </div>

          <div class="form-group col-md-1">
        <label for="inputState">UF</label>
        <select 
        [(ngModel)]="endereco.uf"
        name="uf"
        [disabled] = "true"
        id="inputState" class="form-control">
          <option selected>Selecione</option>
          <option>MG</option>
          <option>SP</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="inputPassword4">Nome do Cliente</label>
        <input 
        [(ngModel)]="endereco.cliente"
        name="cliente"
        [disabled] = "true"
        type="text" class="form-control" id="cliente"/>
      </div>

  </div>
</form>
<div class="container">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-6">

    </div>

    <div class="col-2">
      <div class="divBotoes">
        <button [routerLink]="['../../']" routerLinkActive="router-link-active"  type="submit" class="btnCancelar">Cancelar</button>
        <button (click)="delete()" class="btnLimpar" >Deletar</button>
      </div>
    </div>

  </div>
</div>
</body>