.form-check-label {
  margin-left: 15px;
  margin-right: 15px;
}

.divBotoes {
  margin-top: 40px;
  margin-left: 90px;
  width: 100%;
  height: 250px;
}

.btnCadastrar {
  margin-left: 500px;
  margin-right: 5px;
  float: right;
  color: #05C7F2;
  background-color: #010B40;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.btnLimpar {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  color: white;
  background-color: rgb(141, 228, 10);
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.btnCancelar {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  color: white;
  background-color: red;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
