<div class="footer" >
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="background-color: #010B40">
      <div class="text-center p-4">
        <h6 class="text-uppercase fw-bold mb-2" style="color: white">
          NOSSAS REDES SOCIAIS:
        </h6>
        <div class="icones">
          <a href="" class="me-4 text-reset" style="padding-left: 8%; padding-right: 10%;">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset"  style="padding-right: 10%;">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
