<div class="footer" >
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="background-color: #010B40">
      <div class="text-center p-4">
        <h6 class="text-uppercase fw-bold mb-2" style="font-size: 120%; color: white">
          NOSSAS REDES SOCIAIS:
        </h6>
        <div class="icones">
          <img class="facebook-icon" src="../../../assets/imagens/Icons/facebook-icon.png">
          <img class="instagram-icon" src="../../../assets/imagens/Icons/instagram-icon.png">
          <img class="whatsapp-icon" src="../../../assets/imagens/Icons/whatsapp-icon.png">
          <img class="youtube-icon" src="../../../assets/imagens/Icons/youtube-icon.png">
        </div>
      </div>
    </nav>
  </div>
