<body>
<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Já possui uma conta?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>

		<div class="register-info-box">
			<h2>Ainda não tem uma conta?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>

		<div class="white-panel">
			<div class="login-show">
				<h2>ENTRAR</h2>
				<input type="text" placeholder="E-mail">
				<input type="password" placeholder="Senha">
				<input class="registrar" type="button" value="Entrar">
				<a href="">Perdeu a senha?</a>
			</div>
			<div class="register-show">
				<h2>CADASTRAR</h2>
				<input type="text" placeholder="E-mail">
				<input type="password" placeholder="Senha">
				<input type="password" placeholder="Confirme sua senha">
				<input type="button" value="Cadastrar">
			</div>
		</div>
	</div>
</body>
